.insbn1
{
	color:black;
	position: absolute;
	top: 795px;
	left:40%;
}
.insbn1 input
{
	background-color:white;
	/*border-radius: 10px 10px 10px 10px;*/
	color:black;
	height: 50px;
	width:200px;
    font-weight: bold;	
}
.insbn1 input:hover
{
	outline:none;
	transition:0.5s;
	transform:scale(1.1);
}