@charset "ISO-8859-1";
.insbn1
{
	color:black;
	position: absolute;
	top: 765px;
	left:35%;
}
.insbn1 input
{
	background-color:white;
	border-radius: 5px 5px 5px 5px;
	color:black;
	height: 38px;
	width:150px;
    font-weight: bold;	
}
.insbn1 input:hover
{
	outline:none;
	transition:0.5s;
	transform:scale(1.1);
}
.form label{
	font-size: 20px;
}
.form input {
	height:40px;
	border-radius: 5px 5px 5px 5px;
	
}