.back
{
	color:black;
	position: absolute;
	top: 644px;
	left:30%;
}
.back input
{
	background-color:white;
	border-radius: 5px 5px 5px 5px;
	color:black;
	height: 38px;
	width:130px;
    font-weight: bold;	
}
.back input:hover
{
	outline:none;
	transition:0.5s;
	transform:scale(1.1);
}